torch
torchaudio
julius
numpy
albumentations
Pillow
tqdm
opencv-python
PyYAML
omegaconf
scikit-image
torchvision
einops
transformers
requests
streamlit
scipy
setuptools
wget
wandb
matplotlib
librosa
pytorch_lightning